<div class="row">
    <div class="col-sm-6">
        <div class="baby-info">
            <div class="row">
                <div class="col-sm-10">
                    <h2>{{baby.name}}</h2>
                    <h3>Swoleness: <span id="baby-swoleness">{{roundNum baby.swoleness}}</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Muscle Fatigue: {{roundNum baby.muscleAttackFatigue}}
                    <br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style={{babyMusclePercentage}}>
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                    <button class="btn btn-success col-sm-12" {{action 'battleClick' 'muscle'}}>Muscle Attack</button>
                </div>
                <div class="col-sm-4">
                    Charisma Fatigue: {{roundNum baby.charismaAttackFatigue}}
                    <br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style={{babyCharismaPercentage}}>
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                    <button class="btn btn-success col-sm-12" {{action 'battleClick' 'charisma'}}>Charisma Attack</button>
                </div>
                <div class="col-sm-4">
                    Magic Fatigue: {{roundNum baby.magicAttackFatigue}}
                    <br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style={{babyMagicPercentage}}>
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                    <button class="btn btn-success col-sm-12" {{action 'battleClick' 'magic'}}>Magic Attack</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {{#if opponent}}
            <div class="baby-info">
                <div class="row">
                    <div class="col-sm-10">
                        <h2>{{opponent.name}}</h2>
                        <h3>Swoleness: <span id="opponent-swoleness">{{opponent.swoleness}}</span></h3>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        {{/if}}
    </div>
</div>