<div style="height: 75px;" class="row">
    <div class="col-sm-12">
        <div style="text-align: center">
            {{#unless battleStarted}}
                {{#unless battleFinished}}
                    <button class="btn btn-success" {{action 'startBattle'}}>Start Battle!</button>
                {{else}}
                    {{#if wonBattle}}
                        Yo baby was swollest today, dawg.
                    {{else}}
                        Yo baby was didn't have it today, dawgstar.  Sorry.
                    {{/if}}
                    <br>
                    <button class="btn btn-success" {{action 'leaveBattle'}}>We're done here, brotown.</button>
                {{/unless}}

            {{else}}
                <h1>{{timeLeft}}</h1>
            {{/unless}}

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="baby-info">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="padding-bottom:2px; border-bottom: black 3px solid">{{baby.name}}</h2>
                    <div style="font-size: 30pt; display: block;">Swoleness:
                        <div style="display: inline-block;" id="baby-swoleness">
                            {{roundNum baby.swoleness}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div style="position: relative;" class="progress fatigue-bar">
                        <div style="position: absolute; width:100%" class="text-center">Muscle Fatigue</div>
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style={{babyMusclePercentage}}>
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                    <button class="btn btn-danger attack-btn col-sm-12" {{action 'battleClick' 'muscle'}}>Muscle Attack</button>
                </div>
                <div class="col-sm-4">
                    <div style="position: relative;" class="progress fatigue-bar">
                        <div style="position: absolute; width:100%" class="text-center">Charisma Fatigue</div>
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style={{babyCharismaPercentage}}>
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                    <button class="btn btn-warning attack-btn col-sm-12" {{action 'battleClick' 'charisma'}}>Charisma Attack</button>
                </div>
                <div class="col-sm-4">
                    <div style="position: relative;" class="progress fatigue-bar">
                        <div style="position: absolute; width:100%" class="text-center">Magic Fatigue</div>
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style={{babyMagicPercentage}}>
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                    <button class="btn btn-success attack-btn col-sm-12" {{action 'battleClick' 'magic'}}>Magic Attack</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {{#if opponent}}
            <div class="baby-info">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="padding-bottom:2px; border-bottom: black 3px solid">{{opponent.name}}</h2>
                        <div style="font-size: 30pt; display: block;">Swoleness:
                            <div style="display: inline-block;" id="opponent-swoleness">
                                {{roundNum opponent.swoleness}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        {{/if}}
    </div>
</div>