<div class="col-xs-3"></div>
<div class="col-xs-6">
    <h3>{{{scene.title}}}</h3>
    {{{text}}}
    <br/><br/>
    {{#unless isSecondScreen}}
        <div class="col-xs-6 text-center">
            <button {{action 'onClickYes'}} class="btn btn-danger">Yes</button>
        </div>
        <div class="col-xs-6 text-center">
            <button {{action 'onClickNo'}} class="btn btn-warning">No</button>
        </div>
    {{else}}
        <div class="text-center">
            <button {{action 'onClickNext'}} class="btn btn-primary">Next</button>
        </div>
    {{/unless}}
</div>
<div class="col-xs-3"></div>
