<p>Alright man, you're up against <strong>{{opponent.name}}</strong></p>

{{baby-battle
baby=player.baby
opponent=opponent
timeLimit=20000
onFinish='handle_finish'}}

<div id="numberBounce" class='numberBounce'></div>
<div id="descBounce" class='descBounce'></div>


{{#if done}}
    {{#if didWin}}
        <button {{action 'getReward'}} class="btn btn-lg btn-success">Claim your victory</button>
    {{else}}
        <p>Your baby is A WEAK ASS BABY yo</p>
        <button {{action 'end'}} class="btn btn-lg btn-danger">WALK AWAY IN SHAME</button>
    {{/if}}
{{/if}}
