<h2>YOU FED THE SHIT OUT OF THAT BABY</h2>
<p>Alright my dude awesome choice! I'm not allowed to say I'm a nutritionist anymore but I'm not gonna let that stop me
    from saying that baby's definitely gonna be healthy on that diet maybe*</p>
<p>Now, {{model.name}} is <strong>{{model.end_exp}}</strong>. {{model.s_he}} also <strong>{{model.sel_exp}}</strong>
    and {{model.wis_exp}}. We're gonna have to fix at least one of those, brother.</p>
<p>To help your baby out we're gonna need to teach {{model.him_her}} how to <strong>GTL</strong>. I saw it on the
    discovery channel it's a proven method to swoleness of the muscles but also swoleness of the heart. But like not in
    the A-bro-ham Lincoln sort of way like metaphorically speaking or something you feel?</p>
<br/>
<div class="row">
    <div class="col-xs-8">
        <strong>G</strong> - GET THAT BABY SOME WEIGHTS STAT WHY THE FUCK WOULD I PICK ANYTHING ELSE IT'S CALLED GET YO'
        BABY SWOLE AND I FULLY INTEND ON DOING THAT
    </div>
    <div class="col-xs-4">
        <button {{action 'pick_activity' 'gym'}} class="btn btn-danger btn-lg btn-block">Gym</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-8">
        <strong>T</strong> - Everyone knows that tanning is a healthy way to boost self esteem, regardless of what all
        those warning labels say about putting a baby in a tanning machine. It's just light dude it's not like light can
        throw a punch.
    </div>
    <div class="col-xs-4">
        <button {{action 'pick_activity' 'tan'}} class="btn btn-warning btn-lg btn-block">Tan</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-8">
        <strong>L</strong> - Look this baby's got a lot of shit going on and it's just gonna be for the best if we get
        this out of the way. If that baby has any chance of picking up babies at the club then {{model.s_he}}'s gonna
        need to pick up {{model.his_her}} room and make it not smell like shit.
    </div>
    <div class="col-xs-4">
        <button {{action 'pick_activity' 'laundry'}} class="btn btn-success btn-lg btn-block">Laundry</button>
    </div>
</div>
