<br/>
<div class="col-xs-2">
</div>
<div class="col-xs-8">
    {{!-- stat sep --}}
    <div class="row">
        <div class="col-xs-2">
            STR
        </div>
        <div class="col-xs-7">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            {{model.baby.str}}
            <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
        </div>
    </div>

    {{!-- stat sep --}}
    <div class="row">
        <div class="col-xs-2">
            END
        </div>
        <div class="col-xs-7">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            {{model.baby.end}}
            <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
        </div>
    </div>

    {{!-- stat sep --}}
    <div class="row">
        <div class="col-xs-2">
            CHA
        </div>
        <div class="col-xs-7">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            {{model.baby.cha}}
            <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
        </div>
    </div>

    {{!-- stat sep --}}
    <div class="row">
        <div class="col-xs-2">
            SEL
        </div>
        <div class="col-xs-7">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            {{model.baby.sel}}
            <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
        </div>
    </div>

    {{!-- stat sep --}}
    <div class="row">
        <div class="col-xs-2">
            MAG
        </div>
        <div class="col-xs-7">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            {{model.baby.mag}}
            <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
        </div>
    </div>

    {{!-- stat sep --}}
    <div class="row">
        <div class="col-xs-2">
            WIS
        </div>
        <div class="col-xs-7">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            {{model.baby.wis}}
            <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
        </div>
    </div>

</div>
<div class="col-xs-2">
</div>
