<h3>
    <u>Stats</u>
</h3>
{{!-- stat sep --}}
<div class="row">
    <div class="col-xs-2">
        STR
    </div>
    <div class="col-xs-6">
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{model.baby.strPerc}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{model.baby.strPerc}}%">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        {{model.baby.str}}
        <span class="glyphicon {{model.baby.strChangeIcon}} {{model.baby.strChangeColor}}"></span>
    </div>
</div>

{{!-- stat sep --}}
<div class="row">
    <div class="col-xs-2">
        END
    </div>
    <div class="col-xs-6">
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{model.baby.endPerc}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{model.baby.endPerc}}%">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        {{model.baby.end}}
        <span class="glyphicon {{model.baby.endChangeIcon}} {{model.baby.endChangeColor}}"></span>
    </div>
</div>

{{!-- stat sep --}}
<div class="row">
    <div class="col-xs-2">
        CHA
    </div>
    <div class="col-xs-6">
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{model.baby.chaPerc}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{model.baby.chaPerc}}%">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        {{model.baby.cha}}
        <span class="glyphicon {{model.baby.chaChangeIcon}} {{model.baby.chaChangeColor}}"></span>
    </div>
</div>

{{!-- stat sep --}}
<div class="row">
    <div class="col-xs-2">
        SEL
    </div>
    <div class="col-xs-6">
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{model.baby.selPerc}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{model.baby.selPerc}}%">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        {{model.baby.sel}}
        <span class="glyphicon {{model.baby.selChangeIcon}} {{model.baby.selChangeColor}}"></span>
    </div>
</div>

{{!-- stat sep --}}
<div class="row">
    <div class="col-xs-2">
        MAG
    </div>
    <div class="col-xs-6">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{model.baby.magPerc}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{model.baby.magPerc}}%">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        {{model.baby.mag}}
        <span class="glyphicon {{model.baby.magChangeIcon}} {{model.baby.magChangeColor}}"></span>
    </div>
</div>

{{!-- stat sep --}}
<div class="row">
    <div class="col-xs-2">
        WIS
    </div>
    <div class="col-xs-6">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{model.baby.wisPerc}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{model.baby.wisPerc}}%">
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        {{model.baby.wis}}
        <span class="glyphicon {{model.baby.wisChangeIcon}} {{model.baby.wisChangeColor}}"></span>
    </div>
</div>
