<h3>Week {{player.week}}</h3>
<p>You have until Week 12 To Do the thing.</p>
<p></p><br/><br/>
<div class="col-xs-3"></div>
<div class="col-xs-6">
    <button {{action 'enterStandardScenario' 'train' 'str'}} class="btn btn-block btn-danger">Train STR</button>
    <button {{action 'enterStandardScenario' 'train' 'cha'}} class="btn btn-block btn-warning">Train CHA</button>
    <button {{action 'enterStandardScenario' 'train' 'mag'}} class="btn btn-block btn-success">Train MAG</button>
    <button {{action 'enterStandardScenario' 'shop'}} class="btn btn-block btn-primary">Visit Shops</button>
    <button {{action 'enterStandardScenario' 'rest'}} class="btn btn-block">Rest</button>
</div>
<div class="col-xs-3"></div>
